0 0 * * * /usr/local/bin/pihole -up >/dev/null 2>&1
0 0 * * * cd /usr/share/nextcloud/apps/passman && git pull --rebase >/dev/null 2>&1

* * * * * cd /websites/cwrcoding.com && [ ! -f pause ] && /usr/bin/git fetch --all && /usr/bin/git checkout master && /usr/bin/git reset --hard origin/master
* * * * * cd /websites/nginx-config  && [ ! -f pause ] && /usr/bin/git fetch --all && /usr/bin/git checkout master && /usr/bin/git reset --hard origin/master && /usr/sbin/nginx -s reload